body { background: #1a46b2; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 52px; display: flex; }
.block-helper-0 { color: #5aa120; font-size: 17px; margin-bottom: 5px; }
.block-order-1 { color: #eb1b4f; font-size: 14px; margin-bottom: 5px; }
.block-invoice-2 { color: #4e7486; font-size: 15px; margin-bottom: 5px; }
.block-helper-3 { color: #973be6; font-size: 12px; margin-bottom: 5px; }
.block-config-4 { color: #2ec2f6; font-size: 17px; margin-bottom: 5px; }
.block-sms-5 { color: #741359; font-size: 17px; margin-bottom: 5px; }
.block-invoice-6 { color: #ae28e8; font-size: 15px; margin-bottom: 5px; }
.block-config-7 { color: #7cb7d0; font-size: 15px; margin-bottom: 5px; }
.block-order-8 { color: #4a5be2; font-size: 18px; margin-bottom: 5px; }
.block-helper-9 { color: #201d68; font-size: 16px; margin-bottom: 5px; }
.block-product-10 { color: #fb9a10; font-size: 21px; margin-bottom: 5px; }
.block-session-11 { color: #f22a93; font-size: 21px; margin-bottom: 5px; }